body{
    font-family: 'EB Garamond', serif;
    margin:0px;
}
.flexible-container{
    display:flex;
    margin-bottom:150px;
    padding-left: 50px;
}
h1{
    font-size: 50px;
    border-left: 2px solid orange;
    
}
h2{
    font-size: 40px;
    text-align:center;
}
h3{
    font-size:30px;
}
.darksalmon{
    color:darksalmon
}
#title-color{
    color:steelblue;
}
.link-button{
     text-decoration: none;
     background-image:linear-gradient(orange,red);
     color:white;
     padding:8px;
     border-radius:10px;
     
}
.width-div{
    width:50%;
   padding-left:5%;
}
.width-div img{
    width:70%;
    
}
.border-line{
border-left:2px solid; 
border-image:linear-gradient(blue,cyan);    
border-image-slice:1;
padding:15px;

}
.box{
    box-shadow:10px 10px 40px gray;
    width:28%;
    border-radius:15px;
    padding-left:15px;
    margin-left:10px;
    margin-right:10px;
}
.small-pic{
    width:120px;
    padding-left:15px;
}
.bac-imag{
     background-image: url(images/shapes/shape-1.png);   
     background-repeat: no-repeat;
     background-position: left;
     
     
}
footer{
    background-color: black;
    height:120px;
    text-align: center;
    width: 100%;
    color:white;
}